<h1 >Form Page</h1>

<div class="form-container">
    <form class="form">
        <label for="name">
            Name
            <input id="name" type="text" placeholder="Enter Name" value="" required>
        </label>
        <label for="email">
            Email
            <input id="email" type="email" placeholder="Enter Email" value="" required>
        </label>
        <label for="mobile">
            Phone Number
            <input id="mobile" type="number" placeholder="Enter Phone Number" value="" required>
        </label>
        <label for="password">
            Password
            <input id="name" type="password" placeholder="Enter Password" value="" required>
        </label>
        <label for="confirmPassword">
            Confirm Password
            <input id="confirmPassword" type="password" placeholder="Confirm Password" value="" required>
        </label>

        <button > Save </button>
    </form>
</div>
